#DescriptionContainer, #infoContainer {
    margin-right: 10px;
    margin-left: 10px;
} 

body {
        background-color: white;
        font-family: sans-serif;
    }
    h1, h2, h3, h4, h5 {
        text-align: center;
        padding: 5%;
    }
    p {
        text-align: center;
    }
    #mainTitle {
        font-size: larger;
    }
    #mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #DescriptionContainer {
        overflow: hidden;
        position: relative;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2vh;
    }
    .bg {
        opacity: 0.2;
        position: absolute;
        left: -25%;
        top: -50%;
        width: 150%;
        height: auto;
    }
    .content {
        position: relative;
    }
    #buttonContainer {
        margin-top: 35px;
    }
.coloredSection {
    background: #1A5D1A;
    background: linear-gradient(120deg, #fbab1a 50%, #1A5D1A 50%);
    /* background: linear-gradient(120deg, #fbab1a 0%, #1A5D1A 100%); if u like this one more, just uncomment it :) */
    /* color: white;  */
}
.navbar {
    padding: 0 0 4.5rem !important;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem !important;
    font-weight: bold ;
    align-self: center;
  }

  .container-fluid {
    padding: 7% 15%;
  }

.navbar-expand-md {
    justify-content: center !important;
}

ul {
    list-style-type: none;
    text-align: center;
}
ul li {
    padding: 5px 100px;
}
footer {
    text-align: right;
    margin-top: auto;
}