body {
    background-color: lightgray;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5 {
    text-align: center;
    padding: 5%;
}
p {
    text-align: center;
}
#mainTitle {
    font-size: larger;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#DescriptionContainer {
    background-color: lightgray;
    overflow: hidden;
    position: relative;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2vh;
}
.bg {
    opacity: 0.1;
    position: absolute;
    left: 25%;
    top: 0%;
    width: 50%;
    height: auto;
}
.content {
    position: relative;
}
#buttonContainer {
    margin-top: 35px;
}
.coloredSection {
    background: #1A5D1A;
    background: linear-gradient(145deg, rgba(251, 171, 26, .90) 50%, rgba(26, 93, 26, .80) 50%);
}
.navbar {
    padding: 0 0 4.5rem !important;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem !important;
    font-weight: bold ;
    align-self: center;
  }

  .container-fluid {
    padding: 7% 15%;
  }

.navbar-expand-md {
    justify-content: center !important;
}

ul {
    list-style-type: none;
    text-align: center;
}
ul li {
    padding: 5px 100px;
}
footer {
    text-align: right;
    margin-top: auto;
    margin-right: 2vw;
}
#carouselIndicators2 {
    padding-left: 200px;
    padding-right: 200px;
}

.text {
    font-weight: 500;
    font-size: 1.1rem;
}